
@{
    ViewBag.Title = "Index";
}
@{
    Layout = null;
}


<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creative CV</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Profile/css/aos.css" rel="stylesheet" />
    <link href="~/Profile/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Profile/css/main.css" rel="stylesheet" />

    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
</head>

<body id="top">

    <div class="page-content">
        <div>
            <div class="profile-page">
                <div class="wrapper">
                    <div class="page-header page-header-small" filter-color="green">
                        <div class="page-header-image" data-parallax="true" style="background-image: url('Profile/images/cc-bg-1.jpg')"></div>
                        <div class="container">
                            <div class="content-center">
                                <div class="cc-profile-image"><a href="#"><img src="~/Profile/images/Sky.jpg" alt="Image" /></a></div>
                                <div class="h2 title">SURAJ KUMAR</div>
                                <p class="category text-white">Dot net Full Stack Developer</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Contact Me</a><a class="btn btn-primary" href="~/cv/SurajCV.pdf" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>

                            </div>
                        </div>
                        <div class="section">
                            <div class="container">
                                <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/profile.php?id=100093824476580" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/home" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section" id="contact">
        <div class="cc-contact-information" style="background-image: url('Profile/images/project-1.jpg')">
            <div class="container">
                <div class="cc-contact">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="card mb-0" data-aos="zoom-in">
                                <div class="h4 text-center title">Contact Me</div>
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="card-body">
                                            <p class="mb-0"><strong>Address </strong></p>
                                            <p class="pb-2">New Ashok Nagar Delhi</p>
                                            <p class="mb-0"><strong>Watsapp Phone Namber</strong></p>
                                            <p class="pb-2">+91 6388462704</p>
                                            <p class="mb-0"><strong>Email</strong></p>
                                            <p>sy661063@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="skill">
        <div class="container">
            <div class="h4 text-center mb-4 title">Professional Skills</div>
            <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="progress-container progress-primary">
                                <span class="progress-badge"> ASP Dot Net</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="progress-container progress-primary">
                                <span class="progress-badge">MVC</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="progress-container progress-primary">
                                <span class="progress-badge">C#</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div><span class="progress-value">85%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="progress-container progress-primary">
                                <span class="progress-badge">SQL Server</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="progress-container progress-primary">
                                <span class="progress-badge">HTML</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div><span class="progress-value">95%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="progress-container progress-primary">
                                <span class="progress-badge"> BOOTSTRAP </span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="progress-container progress-primary">
                                <span class="progress-badge"> Angular </span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div><span class="progress-value">65%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="progress-container progress-primary">
                                <span class="progress-badge"> Paython Dijango </span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 82%;"></div><span class="progress-value">82%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="section" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="h4 text-center mb-4 title">Project</div>
                    <div class="nav-align-center">
                        <ul class="nav nav-pills nav-pills-primary" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
                             </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content gallery mt-5">
                <div class="tab-pane active" id="web-development">
                    <div class="ml-auto mr-auto">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                    <a href="#web-development">
                                        <figure class="cc-effect">


                                            <img src="~/Profile/images/project-1.jpg" alt="Image" />
                                            <figcaption>
                                                <div class="h4">Fav Card Project</div>
                                                <p>Web Development</p>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                    <a href="#web-development">
                                        <figure class="cc-effect">
                                            <img src="~/Profile/images/project-2.jpg" alt="Image" />
                                            <figcaption>
                                                <div class="h4">School Manegment Project</div>
                                                <p> SQL System Development</p>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                    <a href="#web-development">
                                        <figure class="cc-effect">
                                            <img src="~/Profile/images/project-3.jpg" alt="Image" />
                                            <figcaption>
                                                <div class="h4">Food Order Project</div>
                                                <p>Web Development</p>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                    <a href="#web-development">
                                        <figure class="cc-effect">
                                            <img src="~/Profile/images/project-4.jpg" alt="Image" />
                                            <figcaption>
                                                <div class="h4">Web Advertising Project</div>
                                                <p>Web Development</p>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="section" id="experience">
        <div class="container cc-experience">
            <div class="h4 text-center mb-4 title">Additional Information</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">

                    </div>

                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-experience-header">
                            <p>May 2022 - December 2022</p>
                            <div class="h5">Dot Net Full stack Developer</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Web Developer</div>
                            <p>Completed " 6Months Dot net Full Stack Devloper" Course</p>
                            <p> From Ducat in Noida</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-experience-header">
                            <p>jan 2023 - March 2023</p>
                            <div class="h5">Dot Net Full stack Developer</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Green Tech ITS </div>
                            <p>Complete "Green Tech ITS" (3Months Intership "Dot net Full stack Developer")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-experience-header">
                            <p>October 2021 - November 2021</p>
                            <div class="h5">Summer Training</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">TECHPILE</div>
                            <p>Complete 45days Summer Training "Python With Django"</p>
                            <p> Techpile Technology Pvt. Ltd.From LUCKNOW(U.P)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container cc-education">
            <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2019 - 2022</p>
                            <div class="h5">Diploma</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Diploma</div>
                            <p class="category">Diploma in Information & Technology</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2017 - 2019</p>
                            <div class="h5">Intermediate</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Intermediate</div>
                            <p class="category">Science and Mathematic</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015 - 2017</p>
                            <div class="h5">High School</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Science and Mathematics</div>
                            <p class="category">School of Secondary board</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container text-center"><a class="cc-facebook btn btn-link" href="https://www.facebook.com/profile.php?id=100093824476580"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " href="https://twitter.com/home"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a></div>
        <div class="h4 title text-center">Suraj Kumar</div>

    </footer>
    <script src="~/Profile/js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="~/Profile/js/core/popper.min.js?ver=1.1.0"></script>
    <script src="~/Profile/js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="~/Profile/js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="~/Profile/js/aos.js?ver=1.1.0"></script>

    <script src="~/Profile/scripts/main.js?ver=1.1.0"></script>


</body>
</html>
